In [1]:
'' and 'g'

''

In [2]:
' ' and 9

9

In [6]:
lt=[]
print(not lt)

True

In [11]:
not ''

True

In [13]:
l=[1,2]
print(not l)

False

In [2]:
5 & 6

4

In [4]:
True & True

True

In [5]:
5 | 6

7

In [14]:
3<<1

6

In [ ]:
a=5
b=5
print(a is b)
a==b

True

True

In [6]:
a = [1, 2, 3]
b = [1, 2, 3]
c = a

print(a == b)  # ✅ True: contents are equal
print(a is b)  # ❌ False: different objects in memory

print(a is c)  # ✅ True: same object (c points to a)
print(a == c)  # ✅ True: contents are equal

True
False
True
True

In [7]:
'' in 'strggg'

True

In [7]:
print(False<True<2<3<4<5<10.5)

print('a'<'b'<'c'<'d'<'e'<'f'<'g')
print(10>5<31<211<1111)

True
True
True

In [14]:
a=b=c=2
d=e=f=3
print(a+b-c*d%2//2)

4

In [22]:
a=complex(input())
print(type(a))
print(a)

<class 'complex'>
(1+0j)

In [1]:
n=int(input())
org=n
lt=[]
while n!=0:
    rem=n%10
    lt.append(rem)
    n//=10

print(lt)
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
s=0
for x in lt:
    s+=factorial(x)
print(s)
if s==org:
    print("Strong Number")
else:
    print("Not a Strong Number")

[3]
6
Not a Strong Number

In [10]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [11]:

for i in range(1,6):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [17]:
n=int(input())

for i in range(1,n):
    for k in range(n-i):
        print(" ",end="")
    for j in range(1,i+1):
        print("*",end="")
    print()

      *
     **
    ***
   ****
  *****
 ******

In [21]:
n=int(input())

for i in range(1,n+1):
    for k in range(n-i):
        print(" ",end="")
    for j in range(0,2*i-1):
        print("*",end="")

    print()

    *
   ***
  *****
 *******
*********

In [23]:
n=int(input())

for i in range(1,n):
    for k in range(n-i):
        print(" ",end="")
    for j in range(1,i+1):
        print(j,end="")
    print()

      1
     12
    123
   1234
  12345
 123456

In [24]:
n=int(input())

for i in range(1,n):
    for k in range(n-i):
        print(" ",end="")
    for j in range(1,i+1):
        print(i,end="")
    print()

      1
     22
    333
   4444
  55555
 666666

In [ ]:
n=int(input())

for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,end="")
        
    print()

1234567
123456
12345
1234
123
12
1

In [1]:
s='pankaj'
print(s[2::2])

na

In [30]:
n=int(input())

for i in range(n,0,-1):
    for k in range(n-i):
        print(" ",end="")
    for j in range(1,i+1):
        print(j,end="")
    print()

1234567
 123456
  12345
   1234
    123
     12
      1

In [ ]:
n=int(input())

for i in range(1,n+1//2):
    for k in range(n-i):
        print(" ",end="") 
    for j in range(0,2*i-1):
        print("*",end="")
    print()

for i in range(n-2,0,-1):
    for k in range(n-i):
        print(" ",end="")
    for j in range(0,2*i-1):
        print("*",end=
              "")
    print()

   *
  ***
 *****
  ***
   *

In [ ]:
for x in range(1,11):
    print(x)
    if(x==9):
        break
else:
    print("else")

1
2
3
4
5
6
7
8
9

In [3]:
a='Hello world'
print(a.upper())

b='i am devang dhandhukiya'
print(b.title())
print(b.capitalize())

HELLO WORLD
I Am Devang Dhandhukiya
I am devang dhandhukiya

In [6]:
a='Hello, World!'
b=a.replace('H','J')
print(a,b, sep="\n")
print(a.split())

Hello, World!
Jello, World!
['Hello,', 'World!']

In [7]:
l=['h','e','l','o']
print(''.join(l))

helo

In [3]:
a='Hello World'
print(a.swapcase())

hELLO wORLD

In [8]:
def twice(o):
    for i in range(len(o)):
        o[i]=o[i]*2
l=[1,2,3,4,5]
s='hello'
t=(1, 2, 3, 4, 5)
st={1,2,3}
twice(l)
print(l)
twice(st)
print(st)

[2, 4, 6, 8, 10]

TypeError: 'set' object is not subscriptable

In [17]:
x=1
def f():
    # x=0
    xx=x+1
    print(xx)

# print(x)
f()

2

In [18]:
a=10
def fun():
    a=20
    print(a)
print(a)
fun()
print(a)

10
20
10

In [19]:
def f(a,b):
    return a+b,a-b
x,y=f(10,5)
print(x,y)

15 5

In [20]:
def swap(a,b):
    return b,a
x,y=swap(10,20)
print(x)
print(y)

20
10

In [23]:
def fun(a,b,c,d):
    print(a,b,c,d)
fun(1,2,3,4)
fun(1,2,3,d=4)
fun(1,2,d=4,c=3)

fun(1,2,b=2,d=3)

1 2 3 4
1 2 3 4
1 2 3 4

TypeError: fun() got multiple values for argument 'b'

In [26]:
def f(name='joe'):
    print(name)

f('pankaj')
f()
f(name='devang')

pankaj
joe
devang

In [2]:
def area(r,pi=3.14):
    return pi*r*r
print(area(10))
print(area(10,3))

314.0
300

In [8]:
def sum(*args):
    s=0
    for i in args:
        s+=i
    return s
print(sum(1,2,3,4,5))
print(sum(1,2,3,4,5,6,7,8,9,10,11,12))
print(sum(3))

15
78
3

In [9]:
def c(a,b,*c):
    print(a,b,c)
c(1,2,3,4,5)

1 2 (3, 4, 5)

In [28]:
def f(a=0,b,c):
    print(a,b,c)
# f(1,2,3)

SyntaxError: non-default argument follows default argument (395673362.py, line 1)

In [13]:
def c(*a,b,c):
    print(a,b,c)
c(1,c=4,b=5)
c(c=2,b=3)

(1,) 5 4
() 3 2

In [15]:
def f(a,*b):
    print(a,b)

f(1,2,3,4,5)
f(1)

1 (2, 3, 4, 5)
1 ()

In [16]:
def f(**kwargs):
    print(kwargs)
f(a=1,b=2,c=3)
f()

{'a': 1, 'b': 2, 'c': 3}
{}

In [18]:
def f(**A):
    for x,y in A.items():
        print(x,y)
f(a=1,b=2,c=3)

a 1
b 2
c 3

In [20]:
# --docstring in functions
def f(a,b):
    '''This function takes two arguments and returns their sum.'''
    return a+b
print(f.__doc__)
print(f(10,20))

This function takes two arguments and returns their sum.
30

In [21]:
def greet(name):
    """This function greets the per
    son by name."""
    print(f"Hello, {name}!")

In [4]:
a=(1,2,3)
b=(10,20,30)
c=(100,200,300)
x=tuple(a+b+c)
add=tuple(map(lambda l,m,n:l+m+n,a,b,c))
print(add)

(111, 222, 333)

In [ ]:
#reduce func with ambda func
from functools import reduce
def add(x, y):
    return x + y
lst = [1, 2, 3, 4, 5]
result = reduce(add, lst)
print(result)  # Output: 15

In [2]:
def f():
    print("function -1")
g=f
h=g
h()

function -1

In [ ]:
def f1():
    print('f1 started')
    f2()
    print('f1 ended')
def f2():
    print('f2 started')
    f3()
    print('f2 ended')
def f3():
    print('f3 started')
    f4()
    print('f3 ended')
def f4():
    print('f4 started')
    #f1()
    
    print('f4 ended')
f1()

f1 started
f2 started
f3 started
f4 started
f4 ended
f3 ended
f2 ended
f1 ended